annotated-types               0.7.0
cachetools                    5.5.0
certifi                       2024.8.30
charset-normalizer            3.4.0
colorama                      0.4.6
docstring_parser              0.16
google-ai-generativelanguage  0.6.10
google-api-core               2.23.0
google-api-python-client      2.154.0
google-auth                   2.36.0
google-auth-httplib2          0.2.0
google-cloud-aiplatform       1.73.0
google-cloud-bigquery         3.27.0
google-cloud-core             2.4.1
google-cloud-resource-manager 1.13.1
google-cloud-storage          2.18.2
google-crc32c                 1.6.0
google-generativeai           0.8.3
google-resumable-media        2.7.2
googleapis-common-protos      1.66.0
grpc-google-iam-v1            0.13.1
grpcio                        1.68.0
grpcio-status                 1.68.0
httplib2                      0.22.0
idna                          3.10
numpy                         2.0.2
packaging                     24.2
pip                           24.3.1
proto-plus                    1.25.0
protobuf                      5.28.3
pyasn1                        0.6.1
pyasn1_modules                0.4.1
pydantic                      2.10.1
pydantic_core                 2.27.1
pyparsing                     3.2.0
PyQt5                         5.15.11
PyQt5-Qt5                     5.15.2
PyQt5_sip                     12.15.0
python-dateutil               2.9.0.post0
python-dotenv                 1.0.1
requests                      2.32.3
rsa                           4.9
setuptools                    49.2.1
shapely                       2.0.6
six                           1.16.0
tqdm                          4.67.0
typing_extensions             4.12.2
uritemplate                   4.1.1
urllib3                       2.2.3